#Author: Gülsüm Budakoğlu
#The count-the-1's test on a stream of bytes for quality of randomness
import math 
import time
import numpy
import scipy
import random
from scipy.stats import chisquare

def count(i):
    a=bin(i)[2:] #integer to binary string
    ctr=0
    for j in a:
        if j=='1':
            ctr+=1
    return ctr

def allcount(int_array):
    final=[0]*9 #creating 9 array with 0.
    ghj=[0]*5
    for k in int_array:
        final[count(k)]+=1
    ghj[0]=final[0]+final[1]+final[2]
    ghj[1]=final[3]
    ghj[2]=final[4]
    ghj[3]=final[5]
    ghj[4]=final[6]+final[7]+final[8]
    return ghj
        
def count2(random_array):
    obs=allcount(random_array)
    a_len=len(random_array)
    exp=[37*a_len/256,56*a_len/256,70*a_len/256,56*a_len/256,37*a_len/256]
    if (chisquare(obs,exp).pvalue)<0.05:
        return 'randomness ıs good'
    elif (chisquare(obs,exp).pvalue)<0.2:
        return 'randomness ıs suspıcıous'
    else:
        return 'randomness ıs bad' 
    
random_array= numpy.random.randint(256,size=1000024) # i.e.1000024 random array contain byte(0-256)
count2(random_array)
        
